<p id="notice"><%= notice %></p>

<h1>Listing Costs</h1>
 <% total_cost = 0 %>
<style>
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; 
height: 30px;
transition: all 0.3s;  
}

th {
background: #DFDFDF;  
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }  

tr:nth-child(odd) td { background: #FEFEFE; } 

tr td:hover { background: #efefef; color: #000; } 
}
</style>
 
<table border="1"  align="center"> 
  <thead>
    <tr>
      <th>Category</th> 
      <th>Name</th>
      <th>Amount</th>
      <th>Account</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.category.name %></td> 
        <td><%= cost.name %></td>
        <td><%= cost.amount %></td>
        <td><%= cost.account %></td>
        <td BGCOLOR="#00ff00"><%= link_to 'Show', cost %></td>
        <td BGCOLOR="#ffff00"><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td BGCOLOR="#ff0000"><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% total_cost =total_cost+ cost.amount%>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
 <p align="right"><h3> Total Cost = <%= total_cost %>$ </h3></p>
 <br>

