<p id="notice"><%= notice %></p>

<h1>Listing Incomes</h1>
<% total_income = 0 %>           <!-- add -->
<style>
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; 
height: 30px;
transition: all 0.3s;  
}

th {
background: #DFDFDF;  
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}
tr:nth-child(even) td { background: #F1F1F1; }  

tr:nth-child(odd) td { background: #FEFEFE; } 

tr td:hover { background: #efefef; color: #000; } 
}

</style>
<table border="1" align="center">
  <thead>
    <tr BGCOLOR="00ffff">
     <th>Category</th> 
      <th>Name</th>
      <th>Amount</th>
      <th>Account</th>
      <th colspan="3">options</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
       <td><%= income.category.name %></td> 
        <td><%= income.name %></td>
        <td><%= income.amount %></td>
        <td><%= income.account %></td>
        <td BGCOLOR="#00ff00"><%= link_to 'Show', income %></td>
        <td BGCOLOR="#ffff00"><%= link_to 'Edit', edit_income_path(income) %></td>
        <td BGCOLOR="#ff0000"><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% total_income =total_income+ income.amount%>
      </tr>
    <% end %>
  </tbody>
</table>
<p align="right"><h3> Total Inc = <%= total_income %>$ </h3></p>
 <!-- <%= link_to 'New Income', new_income_path %> -->
