<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @income.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @income.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @income.amount %>
</p>

<p>
  <strong>Account:</strong>
  <%= @income.account %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
