<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.select(:name, options_for_select([["Salary","Salary"], ["Bonus","Bonus"],  ["Investment","Investment"], ["Stocks","Stocks"], ["Savings","Savings"], ["Loans","Loans"], ["Others","Others"], ["Clothes","Clothes"], ["Donations","Donations"], ["Education","Education"], ["Entertainment","Entertainment"], ["Food", "Food"], ["Insurance","Insurance"], ["Utilities","Utilities"], ["FutureSavings","FutureSavings"], ["Misc","Misc"] ])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
