<p id="notice"><%= notice %></p>
<h1>Listing Categories</h1>
<style>
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; 
height: 30px;
transition: all 0.3s;  
}

th {
background: #DFDFDF;  
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/
tr:nth-child(even) td { background: #F1F1F1; }  

tr:nth-child(odd) td { background: #FEFEFE; } 

tr td:hover { background: #efefef; color: #000; } 
}
</style>
<table border="1" align="center"  border-collapse= "collapse";
border-spacing= "0";>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>
  <tbody>      
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td BGCOLOR="#00ff00"><%= link_to 'Show', category %></td>
        <td BGCOLOR="#ffff00"><%= link_to 'Edit', edit_category_path(category) %></td>
        <td BGCOLOR="#ff0000"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2><%= link_to 'New Category', new_category_path %><h2>

<br>
Total Income = <%=Income.sum(:amount)%>$<br>
Total Cost =<%=Cost.sum(:amount)%>$<br>
Balance = <%=(Income.sum(:amount) - Cost.sum(:amount)) %>$<br>
<% if Income.sum(:amount) - Cost.sum(:amount) < 500 %>
  <font color="red">ALERT!ALERT! You are Spending too much recently. Savings are low! %><font> 
 <%else%>
 <font color="blue">NO ALERTS. Savings are sufficient. <font>
 <%end%>

