<style type="text/css"><!--
#wrap {
  width: 400px;
  margin:0 auto;
}
#left_col {
  float:left;
  width: 200px;
}
#right_col {
  float:right;
  width: 200px;
}
--></style>
<h1>New Category</h1>

<%= render 'form' %>
<div id="wrap">
<div id="left_col"><br>
<strong>Income Category Names</strong>
<ul>
<li>Salary</li>
<li>Bonus</li>
<li>Investment</li>
<li>Stocks</li>
<li>Savings</li>
<li>Loans</li>
<li>Other</li>
</ul>
</div>
<div id="right_col"><br>
<strong>Cost Category Names</strong>
<ul>
<li>Clothes</li>
<li>Donations</li>
<li>Education</li>
<li>Entertainment</li>
<li>Food</li>
<li>Insurance</li>
<li>Utilities</li>
<li>FutureSavings</li>
<li>Misc</li>
</ul>
</div>
</div>

<%= link_to 'Back', categories_path %>
