<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<% clicked = @category.name %>
<% if clicked == "Salary" || clicked == "Bonus" || clicked == "Investment" || clicked == "Stocks" || clicked == "Savings" || clicked == "Loans" || clicked == "Other"%>
<h3>Incomes</h3>
<div id="incomes">
	<%= render :partial => @category.incomes.reverse %>
</div>

<%= form_for([@category, Income.new], remote: true) do |f| %>
	<p><%= f.label :name, "New Income Name" %><br />
		<%= f.text_field :name %>
	</p>
	<p><%= f.label :amount, "New Income Amount" %><br />
		<%= f.number_field :amount %>
	</p>
	<p><%= f.label :account, "New Income Account" %><br />
		<%= f.select(:account, options_for_select([["Cash","Cash"], ["Credit","Credit"], ["Debit","Debit"], ["Other","Other"]])) %>
	</p>
	<p><%= f.submit "Add Income" %></p>
<% end %>
<% else %>
<h3>Costs</h3>
<div id="costs">
	<%= render :partial => @category.costs.reverse %>
</div>

<%= form_for([@category, Cost.new], remote: true) do |f| %>
	<p><%= f.label :name, "New Cost Name" %><br />
		<%= f.text_field :name %>
	</p>
	<p><%= f.label :amount, "New Cost Amount" %><br />
		<%= f.number_field :amount %>
	</p>
	<p><%= f.label :account, "New Cost Account" %><br />
		<%= f.select(:account, options_for_select([["Cash","Cash"], ["Credit","Credit"], ["Debit","Debit"], ["Other","Other"]])) %>
	</p>
	<p><%= f.submit "Add Cost" %></p>
<% end %>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
