<!DOCTYPE html>
<html>
<head>

  <title>Walet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <style>
body {
    background-image: url("1.gif");
}
</style> -->
</head>
<body>
<div style="background-color:black">
<br>
<h1 style="text-align:center"><font color="white">Wallet</font></h1>
<br>
</div>
<%= yield %>
</body>
 <center><%=image_tag("1.jpg",:alt=>"wallet",:size=>"100") %> <center>
</html>
